<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- write logs to the files -->
		<target xsi:type="File" name="info_logs_file" fileName="F:\\Lyuba Projects\\Library Search Log\\info.log"/>
		<target xsi:type="File" name="important_logs_file" fileName="F:\\Lyuba Projects\\Library Search Log\\important.log"/>
		<!-- write logs to the OutputDebugString-->
		<target xsi:type="OutputDebugString" name="logdebug" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logdebug" />
		<logger name="*" minlevel="Info" writeTo="info_logs_file" />
		<logger name="*" minlevel="Warn" writeTo="important_logs_file" />
	</rules>
</nlog>